* {
  font-family: 'Work Sans', sans-serif;
  color: white;
}

body {
  background-image: url("http://sf.co.ua/13/02/wallpaper-625826.jpg");
}

nav {
  text-align: right;
}

#content {
  margin-top: 300px;
}

#tagline {
  font-size: 60px;
}

#intro {
  font-size: 24px;
}