/* ----------------------- SELECTORS--------------------- */

html {

    color:#000080;
    background-color:#ffffff;

}

h3 {

    font-family: sans-serif;
    font-weight:bold;
    font-size:20px;
    text-align:center;
    display:block;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;

}

li {

    margin-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: 0.35em;
    text-align: left;

}

ul {

    margin: 0.625em;
}

td {

    margin: 0.03em;
    padding: 0.05em;
}

table {

    width: 97%;
}

a {

    color: #800080;

}


/* ----------------------- CLASSES --------------------- */

.description {

    font-size:8px;

}

.hline{

border-bottom:

}

/* LINK SELECTORS */

a:link {

    color: #800080;

}

a:visited {

    color:#ff0000;

}

/* FONT PROPERTIES*/

.fxsmall {

    font-size: 10px;
}

.fsmall {

    font-size: 13px;
}

.fmed {

    font-size: 16px;
}

.fbold {

font-weight:bold;

}

/* MARGIN OPTIONS */

.xsmarg {

    margin: 0;
    padding: 0;
}

/* IMAGE OPTIONS */

.images {

    display: block;
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 1em;
    width:  6em;

}

.img-size {

    display: block;
    height:25em;
    width: 40em;
    border-radius: 300em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

/* CSS BREAK */

.nline {

    display:block;

}

/* DEBUG */

.debug {

    border: 1px solid red;
}

/* HORIZONTAL LINE */

.line {

    border-bottom: 1px solid #949494;

}

/* MISC */

.separateletters {

    font-size:32px;
    font-family: cursive;

}

.middle{

    text-align: center;

}

.pad {

    padding: 0.2em;
    margin-left: 0.2em;
}

.round {

    border-radius: 1em;
    background-color: #99FF66;
    border-style: dotted;
}

